/* Row - Ui */
.row-mt {
    --bs-gutter-y: 24px;
}

.row-equal>.col>.col-inner {
    min-height: 100%;
}

.row-large {
    --bs-gutter-x: 35px;
}

.row-collapse {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}