// .slider .slider-item a {
//     touch-action: none;
//     -webkit-user-drag: none;
// }

// Swiper

@use "@/styles/_breakpoints.scss" as bp;

swiper-container {
    --swiper-theme-color: #222;
    --swiper-navigation-size: 28px;
    --swiper-navigation-sides-offset: 16px;
    --swiper-pagination-bullet-horizontal-gap: 5px;
    --swiper-pagination-bottom: 12px;
    --swiper-pagination-bullet-inactive-color: #222;
    --swiper-pagination-color: #222;

    &.slider-light {
        --swiper-theme-color: white;
        --swiper-pagination-bullet-inactive-color: white;
        --swiper-pagination-color: white;
    }

    &::part(button-prev),
    &::part(button-next) {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        cursor: pointer;
        transition: 320ms all;

        &:hover {
            --swiper-theme-color: var(--primary);
        }
    }

}

@media #{bp.$max-w-xs} {
    swiper-container {
        --swiper-navigation-size: 22px;
        --swiper-navigation-sides-offset: 7px;
    }
}