// Do not inclue in file source
// This just varibale file
// Example to use:
// b1. @use './utils//breakpoints' as breakPoint;
// b2. #{breakPoint.$max-w-md}

// Responsive Variables for bootstrap
$x4l: 'only screen and (min-width: 1700px) and (max-width: 1800px)';
$x3l: 'only screen and (min-width: 1600px) and (max-width: 1700px)';
$xxl: 'only screen and (min-width: 1400px) and (max-width: 1599px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md: 'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$xs: '(max-width: 575px)';

// responsive variable for wordpress admin bar
$wp-sm: '@media (max-width: 782px)';
$wp-xs: '@media (max-width: 600px)';

// responsive simple
$max-w-lg: 'only screen and (max-width: 1199px)';
$max-w-md: 'only screen and (max-width: 991px)';
$max-w-sm: 'only screen and (max-width: 767px)';
$max-w-xs: 'only screen and (max-width: 575px)';
