/*
  Const
  --mediaMaxSmall: 575px;
  --mediaMaxMedium: 767px;
  --mediaMaxLarge: 1024px;
*/

// Import library
@import './library/reset.css';
@import './library/bootstrap-grid.css';
@import './library/material-icon.css';

@import './components/base-tag.scss';
@import './components/layout.scss';
@import './components/header.scss';

@import "./page/home.scss";
@import "./page/archive.scss";
@import "./page/single.scss";
@import "./page/search.scss";

:root {
  --max-width: 1200px;
  --aside-width: 240px;
  --drop-down-width: 200px;
  --header-height: 70px;
  --font-family: "Open Sans", sans-serif;
  --font-family-title: "Josefin Sans", "Barlow Condensed", sans-serif;

  --size-l1: 3rem;
  --size-l2: 2rem;
  --size-l3: 1.6rem;
  --size-l4: 1.25rem;

  --mb: 18px;

  font-size: 100%;
}


/* Responsive --- */
@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {
  :root {
    --size-l1: 2.6rem;
    --size-l2: 1.8rem;
    --size-l3: 1.4rem;
    --size-l4: 1.2rem;

    font-size: 97%;
  }
}

@media only screen and (max-width: 576px) {
  :root {
    --size-l1: 2rem;
    --size-l2: 1.6rem;
    --size-l3: 1.3rem;
    --size-l4: 1.1rem;

    font-size: 92%;
  }
}