:root {
  --max-width: 1200px;
  --aside-width: 240px;
  --drop-down-width: 200px;
  --header-height: 70px;
  --font-family: "Open Sans", sans-serif;
  --font-family-title: "Josefin Sans", "Barlow Condensed", sans-serif;

  --bs-font-sans-serif: "Open Sans", sans-serif;
  --bs-font-monospace: "Open Sans", sans-serif;

  --size-l1: 3rem;
  --size-l2: 2rem;
  --size-l3: 1.6rem;
  --size-l4: 1.25rem;

  --mb: 18px;

  font-size: 100%;
}


/* Responsive --- */
@media only screen and (max-width: 768px) {
  :root {
    --size-l1: 2.6rem;
    --size-l2: 1.8rem;
    --size-l3: 1.4rem;
    --size-l4: 1.2rem;

    font-size: 97%;
  }
}

@media only screen and (max-width: 576px) {
  :root {
    --size-l1: 2rem;
    --size-l2: 1.6rem;
    --size-l3: 1.3rem;
    --size-l4: 1.1rem;

    font-size: 92%;
  }
}