.wrap {
    position: fixed;
    z-index: 1000;
    left: 0%;
    top: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    isolation: isolate;
    transition: 0 all;
    visibility: hidden;
    pointer-events: none;

    --duration: 420ms;

    --border-color: var(--color-neutral2, #ccc);

    --btn-close-color: white;
    --btn-close-p: 5px;
    --btn-close-ofx: 10px;
    --btn-close-ofy: 10px;

    --bg-close-color: #000;
    --bg-close-op: 0.8;

    --content-w: 80%;
    --content-mw: 100%;
    --content-bg: white;

    --content-py: 30px;
    --content-px: 20px;

    &.show {
        visibility: visible;
        pointer-events: visible;

        .bg {
            opacity: var(--bg-close-op);
            visibility: visible;
            pointer-events: visible;
        }

        .close {
            opacity: 1;
            visibility: visible;
            pointer-events: visible;
        }


        .content {
            transform: translateX(0%);
            visibility: visible;
            pointer-events: visible;
        }
    }
}

.content {
    width: var(--content-w);
    max-width: var(--content-mw);
    height: 100%;
    background-color: var(--content-bg);
    position: relative;
    z-index: 50;
    overflow-x: hidden;
    overflow-y: auto;
    transition: var(--duration) all;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(-100%);
}


.inner {
    position: relative;
    isolation: isolate;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.bg {
    background-color: var(--bg-close-color);
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: var(--bg-close-op);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: calc(var(--duration) - 50ms) all;
}

.close {
    position: absolute;
    top: var(--btn-close-ofy);
    right: var(--btn-close-ofx);
    z-index: 500;
    width: 27px;
    height: 27px;
    padding: var(--btn-close-p);
    color: var(--btn-close-color);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--duration) all;
}

.iconClose {
    width: 100%;
    height: 100%;
}

.secondWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 100;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);

    transition: var(--duration) all;

    &.show {
        visibility: visible;
        pointer-events: visible;
        transform: translateX(0%);
    }
}

.secondInner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--content-bg);
}

.secondHead {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    border-bottom: 1px solid var(--border-color);
    padding: 20px var(--content-px);
    cursor: pointer;
}

.secondIconBack {
    width: 18px;
    height: 18px;
}

.secondTitle {
    flex: 1 1 0;
    font-family: var(--font-family-title);
    font-size: var(--size-l4);
    letter-spacing: 0;
    line-height: 1.3;
    color: var(--color-title);
    font-weight: 600;
}