.wrap {
    &.ratio {
        .img {
            object-fit: cover;
            object-position: center;
        }
    }

    .img {
        margin: 0;
    }
}

.imgInner {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.imgOverlay {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.img {
    max-width: 100%;
}