.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.item {
    padding: 3px 10px;
    font-size: 0.95rem;
    line-height: 1;
    background-color: var(--color-neutral1);
    min-width: 38px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;

    &.active {
        background-color: var(--surface);
        color: var(--on-surface);
    }

    &:hover {
        background-color: var(--surface);
        color: var(--on-surface);
        transition: 220ms all;

    }

}