.wrap {
    .headerInner {
        background-color: var(--background);
        position: relative;
        z-index: 500;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .mid {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        padding-top: 12px;
        padding-bottom: 12px;
        position: relative;
        z-index: 50;
        column-gap: var(--gap);

        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 12px;
            right: 12px;
            height: 1px;
            background-color: var(--color-neutral3);
        }
    }

    .bottom {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        z-index: 10;
    }

    &.sticky {

        .headerInner {
            position: fixed;
            z-index: 1000;
            isolation: isolate;
        }

        .stickyNone {
            display: none;
        }
    }

}


.logo {
    width: var(--aside-width);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item {
    margin: 5px 20px;
}


.itemIconWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    .number {
        margin-left: 5px;
        font-size: max(0.92rem, 13px);
    }
}

.itemIcon {
    height: 18px;
    display: block;
}

.listText {
    font-size: max(14px, 0.92rem);
}

.midNavCenter {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .item {
        margin-top: 10px;

        &:first-child {
            margin-left: 0;
        }
    }

    .link {
        color: var(--color-title);
        font-weight: 600;
        font-family: var(--font-family-title);
        text-transform: uppercase;
        font-size: max(0.9rem, 12px);
        line-height: 1.3;
        letter-spacing: 2px;
        cursor: pointer;

        transition: 220ms all;

        &:hover {
            color: var(--primary);
        }
    }

    .item.current {
        .link {
            color: var(--primary);
        }
    }

    .navInner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.searchForm {
    width: 80%;
}

.midNavRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .item {
        margin: 5px 2px;

        &:last-child {
            margin-right: 0;
        }
    }

    .menuSub {
        left: -50px;
    }
}

.bottomNavLeft {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;

    &::-webkit-scrollbar {
        display: none;
    }

    .item {
        margin: 0;
        position: relative;
        z-index: 10;

        &:first-child {
            .link {
                padding-left: 0;

                &::before {
                    left: 0;
                }
            }
        }

        &.current {
            .link {
                color: var(--primary);

                span::before {
                    background-color: var(--primary);
                    transform: scaleX(1);
                }
            }
        }
    }

    .link {
        padding: 20px 18px;
        font-family: var(--font-family-title);
        font-size: max(13px, 0.87rem);
        width: max-content;
        display: block;
        position: relative;
        z-index: 10;
        cursor: pointer;
        color: var(--color-title);
        font-weight: 400;
        text-transform: capitalize;
        letter-spacing: 0.5px;
        transition: 220ms all;


        span {
            position: relative;

            &::before {
                content: '';
                display: block;
                position: absolute;
                z-index: 1;
                height: 1px;
                width: 100%;
                background-color: var(--color-title);
                top: calc(50% + 0.5em + 2px);
                transition: 220ms all;
                transform: scaleX(0);
                transform-origin: left;
            }
        }

        &:hover {
            span::before {
                transform: scaleX(1);
            }
        }
    }

    .childrenLink {
        width: 100%;
        padding: 12px 14px;
        color: var(--on-background);
        font-weight: 400;

        &:hover {
            color: var(--color-title);
        }
    }

    .childrenLinkFull {
        width: 100%;
        padding: 12px 0;
        color: var(--on-background);
        font-weight: 400;

        &:hover {
            color: var(--color-title);
        }
    }

    .menuSub {
        padding: 8px 8px 14px;
        box-shadow: 10px 10px 20px rgb(0 0 0 / 2%);
        border-top: 1px solid var(--color-neutral1);
    }

    .menuSubTitle {
        font-family: var(--font-family-title);
        margin-bottom: 12px;
        color: var(--color-title)
    }

    .menuSubFull {
        // top: 100%;
        // padding: 0;
    }
}




// .menuSubFullContainer {
//     position: relative;

//     &::before {
//         content: "";
//         display: block;
//         position: absolute;
//         top: 0;
//         left: 12px;
//         right: 12px;
//         height: 1px;
//         background-color: var(--color-neutral3);
//     }
// }


.menuSubNav {
    padding-top: 30px;
    max-height: var(--subFull-height);
}

.menuSubShowCase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    padding: 30px 0 40px;
    max-height: var(--subFull-height);
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px; // for vertical
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-neutral3);

    }
}