.wrap {
    border: 0;
    padding: 0;
    background: transparent;

    --color-text: white;
    --color-text-hover: var(--color-title);
    --color-bg: var(--primary);
    --color-bg-hover: var(--surface);
    --color-border: var(--color-bg);
    --color-border-hover: var(--color-bg-hover);
    --opacity-bg: 1;
    --opacity-bg-hover: 1;
    --radius: 5px;
    --min-heignt: 36px;

    &.small {
        .inner {
            padding: 5px 14px;
            min-height: unset;
            font-size: 1rem;
        }
    }

    &:hover,
    &:active {
        .inner {
            color: var(--color-text-hover);
        }

        .bg {
            background-color: var(--color-bg-hover);
            border: 1px solid var(--color-border-hover);
            opacity: var(--opacity-bg-hover);
        }
    }
}

.inner {
    box-shadow: none;
    border: 0;
    font-size: 1rem;
    color: var(--color-text);
    padding: 9px 10px;
    border-radius: var(--radius);
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    font-weight: 400;
    min-height: var(--button-height);
    display: flex;
    align-items: center;
    line-height: 1.1;
    min-height: var(--min-heignt);
}

.textWrap {
    display: inline-block;
    padding-bottom: 2px;
    transition: 320ms all;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    pointer-events: none;
    transition: 220ms all;
    border-radius: var(--radius);
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    opacity: var(--opacity-bg);
}

.default {
    &.dark {
        --color-text: var(--on-surface);
        --color-text-hover: var(--on-surface);
        --color-bg: var(--surface);
        --color-bg-hover: var(--surface);
        --opacity-bg: 1;
        --opacity-bg-hover: 1;
    }

    &.darkTransparent {
        --color-text: var(--on-title-background);
        --color-text-hover: var(--on-surface);
        --color-bg: var(--surface);
        --color-bg-hover: var(--surface);
        --opacity-bg: 0.1;
        --opacity-bg-hover: 1;
    }

    &.whiteTransparent {
        --color-text: white;
        --color-text-hover: var(--color-title);
        --color-bg: var(--background);
        --color-bg-hover: var(--background);
        --opacity-bg: 0.1;
        --opacity-bg-hover: 1;
    }

    &.primary {
        --color-text: var(--on-primary);
        --color-text-hover: var(--on-surface);
        --color-bg: var(--primary);
        --color-bg-hover: var(--surface);
    }


    &.secondary {}

    &.error {}

    &.tertiary {}

    &.white {
        --color-text: var(--color-title);
        --color-text-hover: white;
        --color-bg: var(--background);
        --color-bg-hover: var(--surface);
    }

}

.text {
    &.dark {
        --color-text: var(--on-title-background);
        --color-text-hover: var(--on-title-background);
        --color-bg: var(--surface);
        --color-bg-hover: var(--surface);
        --opacity-bg: 0;
        --opacity-bg-hover: 0.1;
    }
}


.outline {}