.inputWrap {
    background-color: var(--color-neutral1);
    border-radius: 7px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .submit {
        cursor: pointer;
        background: transparent;
        border: 0;
        min-height: var(--input-height);
        padding: 5px 5px 5px 10px;
        display: flex;
        align-items: center;
    }

    .inputText {
        font-size: 16px;
        border: 0;
        outline: 0;
        background-color: transparent;
        color: var(--color-title);
        font-weight: 200;
        min-height: var(--input-height);
        padding: 5px 10px 5px 5px;
        box-sizing: border-box;
        flex: 1;
    }
}