.archive-title {
    font-family: var(--font-family-title);
    text-transform: uppercase;
    font-size: var(--size-l4);
    letter-spacing: 1px;
    line-height: 1.7;
    text-decoration: underline 1px;
    text-underline-offset: 4px;
    text-align: center;
}

.archive-head {
    margin: 40px 0 30px;
}

.archive-page .layout-bg {
    background-color: var(--background);
    opacity: 1;
}

.archive-loop {
    margin: 30px 0 40px;
}

.pagi-wrap .btn-inner {
    min-width: var(--button-heigh);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}