@use '@/styles/_breakpoints.scss' as bp;

.search-title {
    font-weight: 400;
    font-size: var(--size-l4);
}

.search-head {
    margin: 30px 0;
}

.search-page {
    background-color: var(--background);

    .post-wrap {
        --bs-gutter-y: 40px;
    }
}

@media #{bp.$max-w-xs} {
    .search-head {
        margin: 20px 0 10px;
    }

    .search-page {
        .post-wrap {
            --bs-gutter-y: 32px;
        }

        .blog-box {
            .blog-box-text .blog-box-name {
                -webkit-line-clamp: 3;
            }
        }
    }
}