@use "@/styles/_breakpoints.scss" as _bp;

.single-page {
    .layout-bg {
        background: var(--background);
        opacity: 1;
    }
}



.article-wrap {
    margin: 40px 0;

}

.article-head {
    margin-bottom: 30px;
}

.article-title {
    font-family: var(--font-family-title);
    font-size: var(--size-l2);
    letter-spacing: 0;
    line-height: 1.5;
    text-transform: capitalize;
}

.article-meta {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 7px 20px;
    margin-top: 16px;
    margin-bottom: 25px;
    color: var(--color-basic);
    font-size: 0.9rem;
    line-height: 1.6;


    .mater-icon {
        margin-right: 5px;
    }
}

.article-cate {
    .link-item {
        color: var(--color-basic);
    }
}

.article-except {
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 25px;
    font-style: italic;
    color: var(--color-title);
    font-family: var(--font-family);
    text-align: justify;
}

.article-content {
    text-align: justify;

    a {
        color: var(--link-basic);
        transition: 320ms color;
        text-underline-offset: 2px;
        // Overwrite CKEDIOR
        text-decoration: underline 1px !important;
        font-style: italic !important;

        &:hover {
            --link-basic: var(--link-hover);
        }
    }

    img {
        display: flex;
        max-width: 100%;

        &+figcaption {
            background-color: var(--color-neutral1);
            padding: 14px;
            margin-top: calc(var(--mb) * -1);
        }
    }

    figcaption {
        text-align: center;

    }

    .raw-html-embed {
        text-align: center;
        margin: 30px 0;
        max-width: 100%;
    }

    iframe {
        max-width: 100%;
    }
}

.single-section {
    margin: 40px 0;
}

.single-section-title {
    font-family: var(--font-family-title);
    letter-spacing: 0;
    line-height: 1.3;
    font-size: var(--size-l3);
    margin-bottom: 24px;

}

.single-relate-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px 60px;
}

.single-tag-title {
    font-weight: 400;
    font-size: var(--size-l4);
}



.tags-wrap {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    .tag-item {
        font-size: 0.95rem;
        font-weight: normal;
        line-height: 1.7;
        letter-spacing: 0;
        display: inline;
        color: var(--color-basic);
        background-color: var(--color-neutral1);
        padding: 2px 8px;
        border-radius: 5px;

        &:hover {
            text-decoration: underline 1px;
            text-underline-offset: 2px;
        }
    }
}

@media #{_bp.$max-w-sm} {
    .single-relate-content {
        grid-template-columns: 1fr;
    }

    .article-meta {
        border: 1px dashed var(--color-neutral3);
        padding: 14px;
        display: flex;
        flex-direction: column;
    }

}